.container {

	/*width: 500px;*/
	background-color: white;
	/*height: 500px;*/
}

#headerCircle {
	height: 500px;

	width: 500px;

}

artboard {
	display: block;
	/*-webkit-animation: jewelbox 100s infinite linear;*/
	width: 500px;
	height: 500px;
	top: 100px;
}

svg {
		/*position: absolute;*/
		width: 500px;
		height: 500px;

}

svg { max-height: 100%; }

artboard#circles, artboard#circles svg {
    width: 2000px;
    height: 2000px;
}


@-webkit-keyframes jewelbox {
    0% {
        -webkit-transform: rotateY(0deg) rotateX(0deg);
    }
    100% {
        -webkit-transform: rotateY(359deg) rotateX(359deg);
    }
}



/*text {
	font-family: Garamond;
	text-transform: uppercase;
	letter-spacing: 5pt;
}

circle {
	/*stroke: blue;*/
}
*/
#circle2 {
	width: 250px;
	height: 250px;
}