<div>
<h2>Casting Circles</h2>
<p>
    In this example, you can cast circles in real time. Click on the buttons below to make your own magic ring.
</p>
<button class='btn btn-default' ng-click='circle.cast().ring(5)'>
    Ring
</button>
<button class='btn btn-default' ng-click='circle.cast().text("autofit",lol.hipster()).color(lol.randomColor())'>
    Text
</button>
<button class='btn btn-default' ng-click='circle.cast().circleRing(6, 10).fill(lol.randomColor())'>
    Circles
</button>
<button class='btn btn-default' ng-click='circle.disperse()'>
    Disperse
</button>
<artboard id='casting' class='xl'>

</artboard>
</div>
