<div class='casting-container'>
<h2>Casting Circles</h2>
<p>
    If you can imagine it, you can cast it, in real time. Why learn code? 
</p>
<div class='spellDisplay' ng-repeat="(spellName,spell) in alchemy" ng-controller="SpellController">

	<h3>{{spellName}}</h3>
	<div class='spellPropertyDisplay' ng-repeat="(propertyName,property) in spell">
		<!-- {{spellName}}. -->{{propertyName}} <input type={{property.type}} ng-model='property.value' title="{{property.value}}">
	</div>
	<button ng-click='cast(spell,spellName)' class='btn btn-default'>Cast</button>
</div>
<div class='spellDisplay'>
	<button data-toggle="tooltip" data-placement="bottom" title="Make all the rings disappear and start again" class='btn btn-default' ng-click='circle.disperse()'>
	    Disperse
	</button>
	
	</div>
<artboard id='casting' class='full'>

</artboard>
</div>
